.tagsContainer {
    height: 675px;
    overflow-y: auto;
}


.tag {
    display: grid;
    grid-template-columns: 25fr 60fr 15fr;
    gap: 0.5rem;

    align-items: center;

    border-bottom: 0.1rem solid #8585855d;
    box-sizing: border-box;

    &:last-child {
        border-bottom: none;
    }


    .tagNameHolder {
        
        .tagName {
            font-size: 0.9rem;
            line-height: 1;

            border-radius: 2em;
            
            width: max-content;
            max-width: 100%;
            padding: 0.2rem 0.375rem;
            padding-bottom: 0.35rem;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            box-sizing: border-box;
        }
    }


    .tagComment {
        font-size: 0.8rem;
    }


    .tagButton {
        justify-content: right;
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 0.5rem;

        button {
            border-radius: 50%;
            width: 1.8rem;    
            height: 1.8rem;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
    }
}

.tagControlsContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 0.8rem;

    border-bottom: solid 1px #8585855d;
    box-sizing: border-box;

    .searchForm {
        display: grid;
        grid-template-columns: 10fr 70fr;
        gap: 0.5rem;
        align-items: center;

        .searchButton {
            border-radius: 2rem;
            width: 1.8rem;    
            height: 1.8rem;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
    }

    .addButton {
        border-radius: 2rem;
            width: 1.8rem;    
            height: 1.8rem;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
    }
}


button {
    background-color: "[theme: themePrimary, default: #000000]";
    color: "[theme: themeLighterAlt, default: #ffffff]";
    padding: 0.2rem 0.375rem;
    
    font-size: 1.1rem;

    border-radius: 2rem;
    border: none;

    justify-self: right;

    cursor: pointer;

    &:hover {
        background-color: "[theme: themeDark, default: #000000]";
    }
}