/* Default styles from scaffolding are fine, or you can add/modify: */
.contactFiltering {
  margin-bottom: 16px;
}

.filtersContainer {
  margin-bottom: 16px;
  display: flex; /* Example: if you want filters side-by-side later */
  gap: 16px; /* Space between filter elements if they are flex items */
}

.actionsContainer {
  margin-bottom: 16px;
}

.resultsContainer {
  margin-top: 16px;
  border: 1px solid #ccc; /* Just to see it */
  padding: 10px;
  min-height: 100px;
}


//#region ContactCard
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  :hover {
    background-color: "[theme: neutralQuaternaryAlt, default: #f5f5f5]";
    transition: 0.3s;
  }

  :active {
    background-color: "[theme: neutralQuaternary, default: #e5e5e5]";
    transition: 0.3s;
  }
}


.contactCard {
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin: 8px;
  background-color: #ffffff;
  

  width: calc(45% - 1rem); /* Example: for 5 cards per row, considering margin */
  min-width: 180px; /* Minimum width for a card */

  display: flex;
  align-items: center;
  flex-direction: row;

  h3 {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 1.0rem;
    color: "[theme: themeDarkAlt, default: #000000]";
  }

  p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: "[theme: black, default: #000000]";
  }
  

  .contactInfo {
    padding-left: 0.8rem;
  }

  .subInfo {
    p {
      color: "[theme: themePrimary, default: #000000]";
      font-size: 0.8rem;
    }
  }
}
  
.contactImage {
  width: 4.5rem; // Or 100% to fill a container
  height: 4.5rem;
  border-radius: 50%; // Makes it circular if both sides are the same
  object-fit: cover;  // Scales image nicely
  display: block;     // To allow margin auto if you want to center it
  margin-left: auto;
  margin-right: auto;
}
//#endregion

