.deleteButton {
    background-color: #d13438 !important;
    border-color: #d13438 !important;

    &:hover {
        background-color: #a4262c !important;
        border-color: #a4262c !important;
    }
}