.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.monthSelector {
    display: flex;
    align-items: center;
    gap: 8px;
}

.statementDetailsList {
    :global(.ms-DetailsHeader) {
        border-bottom: 1px solid #ccc;
    }
    :global(.ms-DetailsRow-cell) {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
    }
}